.writecomment {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.writecommentlabel {
    font-size: 16px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.writecomment>div {
    display: block;
}

.commentGroup {
    display: block;
}

.commentbox {
    display: flex;
    flex-direction: column;
}

.commentbox .ck-editor__editable {
    margin-top: 10px;
}

.ck.ck-reset.ck-editor.ck-rounded-corners {
    display: block !important;
}

.ck.ck-editor__main {
    width: 100%;
}

.editor-container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.commentbox button {
    background-color: #093564;
    width: fit-content;
    color: #fff;
    padding: 10px;
    border: none;
    align-self: flex-end;
    border-radius: 10px;
    cursor: pointer;
}

.commentbox textarea {
    font-family: sans-serif;
    width: 600px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
}

.feature span {
    color: rgb(16, 96, 161);
}

@media screen and (max-width: 1200px) {
    .commentbox textarea {
        width: 600px
    }
}

@media screen and (max-width: 992px) {
    .commentbox textarea {
        width: 500px
    }
}

@media screen and (max-width: 768px) {
    .commentbox textarea {
        width: 400px
    }
}

@media screen and (max-width: 576px) {
    .commentbox textarea {
        width: 300px
    }
}

.submitComment:hover {
    background-color: black !important;
}