.icon {
    width: 100%;
    height: 100%;
}

.root {
    position: relative;
    width: 100%;
    min-height: 110vh;
    align-items: flex-start;
    overflow: hidden;
    background-image: url("../../../public/assets/login-background.avif");
}

.line20 {
    position: absolute;
    left: 33px;
    top: 66px;
    width: 100%;
    height: 1px;
    max-height: 100%;
    overflow: visible;
}


.loginForm {
    position: relative;
    display: block;
    margin: 100px auto;
    padding: 8px 24px 24px 24px;
    border-radius: 10px;
    background-color: #f1f7fe;
    width: fit-content;
    box-shadow: 5px 5px 5px #00000033;
}

.frame2 {
    padding: 24px 0;
    width: min-content;
}

.AngNhap {
    color: #000;
    font-size: 28px;
    font-weight: bold;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.frame3 {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.rectangle {
    display: flex;
    margin: 8px 0 16px;
    width: 443px;
    height: 64px;
    border-radius: 10px;
    background-color: #f5f5f7;
}

.rectangleEmail {
    position: relative;
}

.rectanglePassword {
    position: relative;
}

.labelLogin {
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    font-size: 18px;
    color: #000;
}

.frame4 {
    width: min-content;
    height: min-content;
}

.input {
    padding-left: 40px;
    outline: none;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    border-radius: 10px;
    background-color: #fff;
    white-space: nowrap;
    flex-direction: column;
}

.envelopeLightSolid.envelopeLightSolid {
    position: absolute;
    top: 33px;
    left: 14px;
    width: 23px;
    height: 23px;
    transform: translateY(-50%);
}

.interfaceEssentialLock.interfaceEssentialLock {
    position: absolute;
    top: 24px;
    left: 13px;
    width: 25px;
    height: 23px;
}

.next_BTN {
    display: flex;
    border-radius: 8px;
    justify-content: flex-end;
    
}
.next_Icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    align-items: center;
    color: #FFFFFF;
    padding: 10px;
}




.AngNhap2 {
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.icon3 {
    width: 33px;
    height: min-content;
}

.register {
    margin-top: 20px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.lineRegister {
    margin: 4px;
    position: absolute;
    top: 0 !important;
    left: 33px;
    width: 100%;
    height: 1px;
    max-height: 100%;
    overflow: visible;
    color: #f5f5f7;
}

.frame8 {
    width: min-content;
    height: min-content;
}

.banChuaCoTaiKhoan {
    color: #393d6e;
    font-size: 16px;
    font-weight: 500;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.frame9 {
    width: min-content;
    height: min-content;
}

.AngKi {
    color: #007dfa;
    font-size: 16px;
    font-weight: 600;
    font-family: Poppins, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
}

.frame7 {
    width: min-content;
    height: min-content;
    transform: translateY(-50%);
}

.frame12 {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.inputerror {
    border: 2px solid rgb(255, 43, 43) !important;
}

.errorMessage {
    position: absolute;
    bottom: -20px;
    color: red;
    font-size: 14px;
}

@media (max-width: 576px) {
    .rectangle {
        width: 100%;
        margin: 8px 0px 24px 0px
    }
    .errorMessage {
        bottom: -35px;
    }
}