.companyinfo {
    display: flex;
    flex-direction: column;
    color: #3677a8;
    margin-bottom: 10px;
    background-color: rgb(130 157 218 / 20%);
    padding: 10px 20px;
    border-radius: 10px;
    animation: slideIn 1s ease-in-out;
}

.symbol {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.follow {
    color: yellow;
}

.unfollow {
    color: #bebebe;
}

@keyframes slideIn {
    from {
        transform: translateX(-50%);
    }

    to {
        transform: translateX(0);
    }
}